@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

/*-----------------------------------------*/
/*-----------------CABEÇALHO---------------*/
/*-----------------------------------------*/

header > div#icone > img{
    width: 50px;
    margin-top: 15px;
    margin-left: 30px;
}

header > div#nav > #burguer{
    display: none;
}

header > div#nav > nav{
    display: block;
}

header > div#nav > nav > ul{
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-top: 5px;
    box-shadow: none;
}

header > div#nav > nav > ul > li{
    display: inline-block;
    border: none;
}

header > div#nav > nav > ul > li #touch{
    background-color: transparent;
    border: 1px solid var(--texto);
}

header > div#nav > nav > ul > li #touch:hover{
    background-color: var(--cor-secundaria);
    border: 1px solid var(--texto);
    text-decoration: none;
}
}



@media screen and (min-width: 992px) {
    header > div#icone > img{
        width: 50px;
        margin-top: 25px;
        margin-left: 60px;
    }

    header > div#nav > #burguer{
        display: none;
    }
    
    header > div#nav > nav{
        display: block;
    }
    
    header > div#nav > nav > ul{
        padding: 10px;
        background-color: transparent;
        border-radius: 10px;
        width: 100%;
        margin-left: auto;
        margin-top: 5px;
        box-shadow: none;
    }
    
    header > div#nav > nav > ul > li{
        display: inline-block;
        border: none;
    }
    
    header > div#nav > nav > ul > li #touch{
        background-color: transparent;
        border: 1px solid var(--texto);
    }
    
    header > div#nav > nav > ul > li #touch:hover{
        background-color: var(--cor-terciaria);
        border: 1px solid var(--texto);
        text-decoration: none;
    }

    header > div#nav > nav > ul > li .nav-link{
        padding: 0 10px;
        position: relative;
    }
    
    header > div#nav > nav > ul > li .nav-link:after{
        content: "";
        position: absolute;
        background-color: var(--cor-terciaria);
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    header > div#nav > nav > ul > li .nav-link:hover:after{
        width: 100%;
    }
    
    header > div#nav > nav > ul > li #touch{
        background-color: transparent;
        border: 1px solid var(--texto);
    }
    
    header > div#nav > nav > ul > li #touch:hover{
        background-color: var(--cor-terciaria);
        border: 1px solid var(--texto);
        text-decoration: none;
    }
}